<a href="https://colab.research.google.com/github/23yash06-source/python/blob/main/Python_Experiment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question . 1.	Write a Python function to find the maximum and minimum numbers from a sequence of numbers

In [ ]:
def find_max_min(numbers):
    if len(numbers) == 0:
        return "Sequence is empty"

    maximum = numbers[0]
    minimum = numbers[0]

    for num in numbers:
        if num > maximum:
            maximum = num
        if num < minimum:
            minimum = num

    return maximum, minimum


nums = [10, 25, 3, 89, 45, 2]
max_num, min_num = find_max_min(nums)

print("Maximum number:", max_num)
print("Minimum number:", min_num)

Maximum number: 89
Minimum number: 2

Question . 2.	Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.

In [ ]:
def sum_of_cubes(n):
    total = 0
    for i in range(1, n):
        total += i ** 3
    return total

num = int(input("Enter a positive integer: "))

if num > 0:
    result = sum_of_cubes(num)
    print("Sum of cubes of all positive integers smaller than", num, "is:", result)
else:
    print("Please enter a positive integer.")

Enter a positive integer: 10
Sum of cubes of all positive integers smaller than 10 is: 2025

Question . 3.	Write a Python function to print 1 to n using recursion.

In [1]:
def print_numbers(n, current=1):
    if current > n:
        return
    print(current)
    print_numbers(n, current + 1)

n = int(input("Enter a number: "))
print_numbers(n)

Enter a number: 5
1
2
3
4
5

Question. 4 Write a recursive function to print Fibonacci series upto n terms.

In [2]:
def fibonacci(n, a=0, b=1, count=0):
    if count == n:
        return
    print(a, end=" ")
    fibonacci(n, b, a + b, count + 1)

n = int(input("Enter the number of terms: "))
fibonacci(n)

Enter the number of terms: 5
0 1 1 2 3

Question. 5 Write a lambda function to find volume of cone

In [3]:
import math

cone_volume = lambda r, h: (1/3) * math.pi * r**2 * h

radius = float(input("Enter radius of cone: "))
height = float(input("Enter height of cone: "))

print("Volume of cone:", cone_volume(radius, height))

Enter radius of cone: 5
Enter height of cone: 8
Volume of cone: 209.43951023931953

Question. 6 Write a lambda function which gives tuple of max and min from a list.

In [4]:
max_min = lambda lst: (max(lst), min(lst))

numbers = [10, 6, 8, 90, 12, 56]
result = max_min(numbers)
print(result)

(90, 6)

Question. 7 Write functions to explain the mentioned concepts:
a. Keyword argument
b. Default argument
c. Variable-length argument

In [5]:
# Function using keyword arguments
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")

greet(age=25, name="Alice")

Hello Alice, you are 25 years old.

In [6]:
# Function with default argument
def greet(name, age=18):
    print(f"Hello {name}, you are {age} years old.")

greet("Bob")

Hello Bob, you are 18 years old.

In [7]:
# Function with variable-length arguments
def student_scores(name, *scores):
    print(f"Student: {name}")
    print(f"Scores: {scores}")
    print(f"Total: {sum(scores)}")

student_scores("Charlie", 80, 90, 75)

Student: Charlie
Scores: (80, 90, 75)
Total: 245

Question. 8 Write a program to check whether all the values in a dictionary are the same or not using
a lambda function.

In [8]:
my_dict = {'a': 10, 'b': 10, 'c': 10}

all_same = lambda d: len(set(d.values())) == 1

result = all_same(my_dict)
print(result)

True

Question. 9 Write a program to create two lists and generate a dictionary with keys from list1 and
values from list2.

In [9]:
list1 = ['a', 'b', 'c', 'd']
list2 = [10, 20, 30, 40]

my_dict = dict(zip(list1, list2))

print(my_dict)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}