<a href="https://colab.research.google.com/github/23yash06-source/python/blob/main/python_Experiment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question . Create a variable to store your age and print its type using type().

In [3]:
# Create a variable to store age
age = 20
print("Age:", age)
print(type(age))

Age: 20
<class 'int'>

Question. Declare a string variable called x and assign it the value “Hello”.
a. Print out the value of x

In [4]:
x = "Hello"
print(x)

Hello

Question. Take different data types and print values using print function

In [5]:
# Integer
a = 10
print(a)

# Float
b = 3.14
print(b)

# String
c = "Hello Python"
print(c)

# List
d = [1, 2, 3, 4]
print(d)

# Tuple
e = (10, 20, 30)
print(e)

# Dictionary
f = {"name": "Yash", "age": 20}
print(f)

10
3.14
Hello Python
[1, 2, 3, 4]
(10, 20, 30)
{'name': 'Yash', 'age': 20}

Question. Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign a value of 7 to y, perform
addition, multiplication, division and subtraction on these two variables and Print out the result.

In [6]:
x = 9
y = 7

addition = x + y
multiplication = x * y
division = x / y
subtraction = x - y

print("Addition:", addition)
print("Multiplication:", multiplication)
print("Division:", division)
print("Subtraction:", subtraction)

Addition: 16
Multiplication: 63
Division: 1.2857142857142858
Subtraction: 2

Question. Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras
theorem.

In [7]:
import math

a = 3
b = 4
c = math.sqrt(a**2 + b**2)
print("hypotenous:", c)

hypotenous: 5.0

Question. Write a program to find simple interest.

In [8]:
P = float(input("Enter the principal amount: "))
R = float(input("Enter the rate of interest: "))
T = float(input("Enter the time (in years): "))

SI = (P * R * T) / 100

print("Simple Interest:", SI)

Enter the principal amount: 20000
Enter the rate of interest: 8.5
Enter the time (in years): 5
Simple Interest: 8500.0

Question. Write a program to find area of triangle when length of sides are given

In [9]:
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))

s = (a + b + c) / 2

area = (s * (s - a) * (s - b) * (s - c)) ** 0.5

print("Area of the triangle:", area)

Enter side a: 5
Enter side b: 10
Enter side c: 8
Area of the triangle: 19.81003533565753

Question. Write a program to convert given seconds into hours, minutes and remaining seconds.

In [11]:
total_seconds = int(input("Enter total seconds: "))

hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60

print("Hours:", hours)
print("Minutes:", minutes)

Enter total seconds: 18600
Hours: 5
Minutes: 10

Question. Write a program to swap two numbers without taking additional variable.

In [12]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

a, b = b, a

print("After swapping:")
print("a =", a)
print("b =", b)

Enter first number: 10
Enter second number: 20
After swapping:
a = 20
b = 10

Question. Write a program to find sum of first n natural numbers

In [13]:
n = int(input("Enter a number: "))

sum_n = n * (n + 1) // 2

print("Sum of first", n, "natural numbers is:", sum_n)

Enter a number: 50
Sum of first 50 natural numbers is: 1275

Question. Write a program to print truth table for bitwise operators (&, | and ^ operators)

In [14]:
values = [0, 1]

print("A B | A&B A|B A^B")

for A in values:
    for B in values:
        print(A, B, "|", A & B, " ", A | B, " ", A ^ B)

A B | A&B A|B A^B
0 0 | 0   0   0
0 1 | 0   1   1
1 0 | 0   1   1
1 1 | 1   1   0

Question. Write a program to find left shift and right shift values of a given number.

In [15]:
num = int(input("Enter a number: "))
shift = int(input("Enter number of positions to shift: "))

left_shift = num << shift

right_shift = num >> shift

print("Original number:", num)
print("Left shift value:", left_shift)
print("Right shift value:", right_shift)

Enter a number: 20
Enter number of positions to shift: 2
Original number: 20
Left shift value: 80
Right shift value: 5

Question. Using membership operator find whether a given number is in sequence (10,20,56,78,89)

In [16]:
sequence = (10, 20, 56, 78, 89)

num = int(input("Enter a number: "))

if num in sequence:
    print(num, "is present in the sequence")
else:
    print(num, "is not present in the sequence")

Enter a number: 10
10 is present in the sequence