<a href="https://colab.research.google.com/github/23yash06-source/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question. Find a factorial of given number.

In [1]:
n = int(input("Enter a number: "))

fact = 1
for i in range(1, n + 1):
    fact *= i

print("Factorial of", n, "is", fact)

Enter a number: 5
Factorial of 5 is 120

Question. 2Find whether the given number is Armstrong number

In [2]:
n = int(input("Enter a number: "))

num_digits = len(str(n))
sum_power = 0
temp = n

while temp > 0:
    digit = temp % 10
    sum_power += digit ** num_digits
    temp //= 10

if sum_power == n:
    print("Armstrong number")
else:
    print("Not an Armstrong number")

Enter a number: 121
Not an Armstrong number

Question. 3Print Fibonacci series up to given term.

In [3]:
n = int(input("Enter number of terms: "))

a, b = 0, 1

print("Fibonacci Series:")
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 5
Fibonacci Series:
0 1 1 2 3

Question. 4Write a program to find if given number is prime number or not

In [4]:
n = int(input("Enter a number: "))

if n <= 1:
    print("Not a prime number")
else:
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")

Enter a number: 5
Prime number

Question. 5Check whether given number is palindrome or not.

In [5]:
n = int(input("Enter a number: "))

temp = n
rev = 0

while temp > 0:
    digit = temp % 10
    rev = rev * 10 + digit
    temp //= 10

if rev == n:
    print("Palindrome number")
else:
    print("Not a palindrome number")

Enter a number: 121
Palindrome number

Question. 6Write a program to print sum of digits.

In [6]:
n = int(input("Enter a number: "))

sum_digits = 0

while n > 0:
    digit = n % 10
    sum_digits += digit
    n //= 10

print("Sum of digits:", sum_digits)

Enter a number: 12
Sum of digits: 3

Question. 7Count and print all numbers divisible by 5 or 7 between 1 to 100.

In [7]:
count = 0

print("Numbers divisible by 5 or 7 between 1 and 100:")

for i in range(1, 101):
    if i % 5 == 0 or i % 7 == 0:
        print(i, end=" ")
        count += 1

print("\n\nTotal count:", count)

Numbers divisible by 5 or 7 between 1 and 100:
5 7 10 14 15 20 21 25 28 30 35 40 42 45 49 50 55 56 60 63 65 70 75 77 80 84 85 90 91 95 98 100

Total count: 32

Question. 8 Convert all lower cases to upper case in a string.

In [8]:
s = input("Enter a string: ")

result = s.upper()

print("Uppercase string:", result)

Enter a string: Yash
Uppercase string: YASH

Question. 9 Print the table for a given number:

In [9]:
n = int(input("Enter a number: "))

print("Multiplication Table of", n)

for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter a number: 2
Multiplication Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Question. 10 Write a program to print the following pattern
123454321
1234 *4321
123 * * 321
12 * * * 21
1 * * * * 1

In [10]:
n = 5

for i in range(n):
    for j in range(1, n - i):
        print(j, end="")

    for j in range(i):
        print(" *", end="")

    if i > 0:
        print(" ", end="")


    for j in range(n - i - 1, 0, -1):
        print(j, end="")

    print()

12344321
123 * 321
12 * * 21
1 * * * 1
 * * * *

Question. 11Write a program to print the sum of the following series
1+ ½ + 1/3 + ¼ +….+1/n

In [11]:
n = int(input("Enter the value of n: "))

sum_series = 0.0

for i in range(1, n + 1):
    sum_series += 1 / i

print("Sum of the series is:", sum_series)

Enter the value of n: 5
Sum of the series is: 2.283333333333333